.color {
    background-color:#E9DC3F;
}


.login  {
    width: 70%;
    text-align: center;
    padding: 20px;
    display: inline-block;
    font-size: 40px;
    background: #B4436C;
    color: black;
    margin-left: 15%;
    margin-right: 15%;
    margin-top: 25px;
    border-radius: 20px;

}

.title {
    padding: 10px;
    text-align: center;
    font-size: 30px;
    color: white;
    background: #B4436C;

}

.content {
    font-size: 40px;
    text-align: auto;
    padding-bottom: 40px;
    margin-top: 50px;
     margin-left: 15%;
    margin-right: 15%;

}

.button, .button2 {
    border-radius: 30px;
    width: 400px;
    height: 70px;
    text-align: center;
    padding-top: 10px;
    margin-left: 20%;
    background: #EAC94F;
}
.button2 {
    margin-left: 5%;
}

.button1 {
    background: #EAC94F;
}

.footer {
    background: #B4436C;
    margin-top: 25%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    color: black;
}

.copyRight {
    margin-left: 0;
}

.contactUs {
margin-right: 15%;
font-size: 25px;

}

.menu{
    justify-content: space-between;
}
.logo {
    margin-left: 15%;
    width: 150px;
   /* height: 10px;
    width: 20px;
    transition: 0.6s;
    transform: translateY(50px);*/
}

.avatar {
        margin-left: 40%;
        margin-right: 15%;
}